#######################################################
#
# config file for script calcardbackup.sh
# ---------------------------------------
#
# copy this file to the same directory as calcardbackup.sh
# and change values according to your setup.
#
# Most of the values may stay unchanged.
# The script will give hints, if something has to be changed.
#
# Don't forget the userlist at the end of this file which needs
# to be filled with Own-/Nextcloud users and their according passwords.
#
#######################################################


# absolute path to Own-/Nextcloud installation:
#nextcloud_path="/usr/share/nginx/www/"

# The script tries to detect the URL of Own-/Nextcloud automatically,
# which should work in most cases for versions >= 7.0
# For versions < 7.0 this is mandatory.
# URL to Own-/Nextclouds login page:
nextcloud_url="https://www.example.com/"

# Is certificate trustful?
# If you have a self signed certificate you might have to change this to "no"
#trustful_certificate="yes"

# Path to folder where backed up files will be saved.
# Relative to scripts directory or absolute path:
#backupfolder="backups/"

# Date extension for backup files.
# default is "-%Y-%m-%d" (which means -YYYY-MM-DD), resulting
# in backup files named like "calcardbackup-2017-03-23.tar.gz"
# to change have a look at format options under "man date"
#backupfile_date_extension="-%Y-%m-%d"

# backup database of Own-/Nextcloud as well?
#backup_database="yes"

# though tested - use at own risk(!):
# delete backups after how many days?
# the default value of "0" means never delete backups.
#delete_backups_older_than="0"

# use "zip" instead of "tar.gz" to compress backups?
# (package zip needs to be installed)
#compression_method="zip"

# choose compression level between 1 and 9
# 1 = faster, bigger filesize
# 9 = slower, smaller filesize
#compression_level="6"

# Userlist:
# Uncomment and fill with Own-/Nextcloud users and their according
# passwords separated by a colon as in following examples.
# It is possible to add more lines if needed.
#
# user[1]="Thomas:PA55W0RD"
# user[2]="Emma:9867543"
# user[3]="USER:PASSWORD"
# user[4]="USER:PASSWORD"
# user[5]="USER:PASSWORD"
# user[6]="USER:PASSWORD"
# user[7]="USER:PASSWORD"
# user[8]="USER:PASSWORD"
# user[9]="USER:PASSWORD"
# user[10]="USER:PASSWORD"
# user[11]="USER:PASSWORD"


######  end of config file for calcardbackup.sh  ######
