#!/bin/bash

#######################################################
#
# example hook file for calcardbackup
# ---------------------------------------
#
# If additional tasks at certain stages of calcardbackup have to be done:
# - copy this file to the same directory as calcardbackup,
#   rename it to 'hook' and add the commands you need (read explanations below)
# - hook="yes" must be set in config file calcardbackup.conf
#
#######################################################


function precompress() {
  local path_backup_precompress="${1}"
  # is run right before compressing the backup. May be useful for adding
  # other files to the directory with backed up files before compressing it.
  #
  # Variables:
  #  - $path_backup_precompress
  #    contains absolute path (no trailing slash) to directory containing backed up files
  #    e.g.: "/usr/local/bin/calcardbackup/backups/calcardbackup-2017-04-13"
  #    if you want to add files to be compressed with the backup, place them in that folder.
  #
  # add commands to run right before compressing the backuped up files  here:
  # echo "+  running hook \"precompress\":"

}

function prefinish() {
  local path_compressed_backup="${1}"
  local path_encrypted_backup="${2}"
  # is run just before successfully exiting calcardbackup. May be useful for
  # copying the backup file to another location (e.g. backup-server)
  #
  # Variables:
  #  - $path_compressed_backup
  #    contains absolute path of backup file
  #    e.g.: "/usr/local/bin/calcardbackup/backups/calcardbackup-2017-04-13.tar.gz"
  #  - $path_encrypted_backup (only set, if backup got encrypted!)
  #    contains absolute path of encrypted backup file
  #    e.g.: "/usr/local/bin/calcardbackup/backups/calcardbackup-2017-04-13.tar.gz.gpg"
  #
  # add commands to run just before successful exit of calcardbackup here:
  # echo "+  running hook \"prefinish\":"

}

function on_error() {
  local error_message="${1}"
  # is run on error just before exiting calcardbackup. May be useful for
  # doing something with the error message (e.g. notice admin via mail)
  #
  # Variables:
  #  - $error_message
  #    contains error message. Depending on the error, the message may contain linebreaks (\n)
  #    e.g.: "ERROR: an error occured!\nFix it and run script again."
  #
  # add commands to run just if an error occurs just before exit of calcardbackup here:
  # echo "-- running hook \"on_error\":"

}


#######################################################
# Don't touch anything below this line
#######################################################


handler="$1"
shift

case "$handler" in
  precompress )
    precompress "$@"
  ;;
  prefinish )
    prefinish "$@"
  ;;
  on_error )
    on_error "$@"
  ;;
esac
